@import "components/side-nav";
@import "components/TopNav/top-nav";
@import "components/TopNav/message-dropdown";
@import "components/TopNav/task-dropdown";
@import "components/TopNav/profile-dropdown";
@import "components/Dashboard/timeline";
@import "components/Dashboard/aggregation-info-panel";
@import "components/Dashboard/billing-trends-panel";
@import "components/Dashboard/quota-panel";

@import "components/Instance/related-resources";
@import "components/Instance/snapshots";
@import "components/Instance/monitor";
@import "components/Instance/new";
@import "components/Instance/index";
@import "components/Instance/basic-info";
@import "components/Alarm/new";
@import "components/Notification/notification-info";

@import "components/NotificationList/basic-info";
@import "components/NotificationList/terminal-list";
@import "components/NotificationList/new";

@import "components/Network/new";
@import "components/Subnet/new";

@import "components/Volume/new";

@import "components/Pool/usage";
@import "components/Pool/new-template";
@import "components/Pool/new-pool";
@import "components/Pool/disabled";
@import "components/Pool/template";

@import "components/network-topology";

@import "components/landing";
@import "components/login";
@import "components/sign-up";

#root {
  height: 100%;
  padding-top: 50px;
}

.main-content {
  position: inherit;
  margin: 0 0 0 250px;
  padding: 10px 0;
  min-width: 1000px;
}

.panel {
  margin-left: 15px;
  margin-right: 15px;
}

.anticon-6x {
  font-size: 6em;
}

.font-huge {
  font-size: 3.5em;
  font-weight: bold;
}

.panel-heading > .action-button {
  margin-top: -5px;
}

.table-view {
  padding: 0 15px;
}
.table-view .table-actions button {
  margin-right: 5px;
}

.table-view .table {
  padding-top: 10px;
}

.tab-view {
  padding: 0 15px;
}

.basic-info label {
  text-align: right;
}

a.delete {
  color: #E01515;
}

a.delete:hover {
  color: tint(#E01515, 20%);
}

a.add {
  color: #60BE29;
}

a.add:hover {
  color: tint(#60BE29, 20%);
}

a.cancel {
  color: #E01515;
}

a.cancel:hover {
  color: tint(#E01515, 20%);
}

a.save {
  color: #60BE29;
}

a.save:hover {
  color: tint(#60BE29, 20%);
}

.ant-dropdown-menu-item-disabled > a, .ant-dropdown-menu-submenu-title-disabled > a {
  cursor: not-allowed;
  pointer-events: none;
  color: #ccc;
  background-color: #f4f4f4;
  border-color: #d9d9d9;
}

.portalicon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
}

.portalicon::before {
  display: block;
  /*noinspection CssNoGenericFontName*/
  font-family: "anticon" !important;
}

.portalicon-delete::before {
  content: "\E63A";
}

.portalicon-delete:hover::before {
  content: "\E639";
}

.portalicon-add::before {
  content: "\E63C";
}

.portalicon-add:hover::before {
  content: "\E63D";
}

.portalicon-save::before {
  content: "\E630";
}

.portalicon-save:hover::before {
  content: "\E62F";
}

.portalicon-cancel::before {
  content: "\E632";
}

.portalicon-cancel:hover::before {
  content: "\E631";
}

.basic-info .portalicon, .basic-info .anticon {
  font-size: 15px;
  margin-left: 10px;
}

.basic-info .verticalCenter {
  line-height: 30px;
}

.basic-info .marginLeft10px {
  margin-left: 10px;
}

.basic-info .rowHeight {
  min-height: 35px;
}

.simple-table-header {
  border-bottom: 1px solid #e7ebed;
  padding: 5px 0;
  margin-bottom: 5px;
  font-weight: bold;
}
