.instance-snapshots {
  width: 80%;
}

.instance-snapshots .instance-snapshots-header {
  border-bottom: 1px solid #e7ebed;
  padding: 5px 0;
  margin-bottom: 5px;
}

.instance-snapshots .instance-snapshots-body .row:hover {
  background-color: #eaf8fe;
}
